@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1f0802;
  --background-grey-rgb: 215, 210, 200;
  --ui-grey-rgb: 210, 210, 200;
  --ui-white-rgb: 240, 245, 239;
  --card: #cececc;
  --yellow-rgb: 220, 227, 89;
  --yellow: #dce359;
  --brown: #433230;
  --brown-lt: #4e3b39;
  --egg: #f0f5ef;
  --brown-transparent: rgba(34, 10, 8, 0.75);
  
  font-family: "coordinates", monospace;
  font-weight: 400;
  font-style: normal;

  ::selection {
    background: var(--yellow);
    color: var(--foreground);
  }

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: var(--ui-white);
    --ui-white-rgb: var(--foreground);
    --ui-grey-rgb: var(--forground);
  }
} */

body {
  color: var(--brown);
  /* background: linear-gradient(
      to bottom,
      rgb(var(--yellow-rgb)) 25%,
      rgb(var(--ui-white-rgb)) 100%
    ); */
  font-weight: 900;
  padding: 1rem 3rem 1rem 3rem;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h2 {
  font-family: "blippo-mn", sans-serif;
  font-size: 2.5rem;
  color: var(--egg);
}

li {
  @apply p-2 items-center outline rounded-sm;
}

a {
  font-family: "coordinates", monospace;
  font-weight: 900;
  justify-items: center;
  text-align: center;
}

p {
  font-family: "coordinates", monospace;
  font-weight: 400;
}

/* .slide-out {
  transform: translateY(-100%);
}

.slide-in {
  transform: translateY(0);
} */